# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
*.cache
Client/obj/Release/SyncrioClientSide.csproj.FileListAbsolute.txt
Common/obj/Release/SyncrioCommon.csproj.FileListAbsolute.txt
Client/obj/Release/SyncrioClientSide.csprojResolveAssemblyReference.cache
Server/obj/Release/SyncrioServer.csprojResolveAssemblyReference.cache
Server/obj/Release/DesignTimeResolveAssemblyReferences.cache
UnityEngine.UI.dll
UnityEngine.dll
Assembly-CSharp.dll
Assembly-CSharp-firstpass.dll
